html {
	font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high  */
	font-family: "Roboto", sans-serif; /* this should be the rest of the output you got from Google fonts */
  }
  html, body {
    min-height: 100%;
}
body { background-color: black; }

h1 {
	color:thistle;
	text-align: Center;
	margin:0px;
	margin-bottom: 20px;
}


form {
	color:thistle;
	text-align: left;
	margin: 20px;
	margin: 0 auto;
	width: 500px;
	padding: 1em;
	border: 1px solid thistle;
	border-radius: 1em;
}


label {
	color:thistle;
	font-size: 15px;
	/* Uniform size & alignment */
	display: inline-block;
	width: 90px;
	text-align: right;
  }

input, textarea{
	background-color: black;
	color: thistle;
	border-color: thistle;
	border-radius: 5px;
	margin: 5px;
	font: sans-serif;
	width: 300px;
	box-sizing: border-box;
}

input:focus,
textarea:focus {
	border-width: 3px ;
  	border-color:rgb(235, 158, 235);
}

textarea {
	vertical-align: top;
	height: 5em;
  }

button {
	background-color: black;
	color: thistle;
	border-color: thistle;
	margin-top: .5em;
	margin-left: 340px;
	border-radius: 5px;

}

ul{
	list-style: none;
  	padding: 0;
 	 margin: 0;
}

p {
	font-size: 5px;
	color: thistle;
	text-align: Center;
	margin:0px;
}

title{
	color:thistle;
	}
