html {
	font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high  */
	font-family: "Roboto", sans-serif; /* this should be the rest of the output you got from Google fonts */
  }
  html, body {
    min-height: 100%;
}
body { background-color: black; }

h1 {
	color:thistle;
	text-align: Center;
	margin:0px;
}
h2{
	color:thistle;
	text-align: Center;
	margin:60px;
}

form {
	color:thistle;
	text-align: left;
	margin: 20px;
}

label{
	color:thistle;
	font-size: 15px;
}

input, textarea{
	background-color: black;
	color: thistle;
	border-color: thistle;
	margin: 5px;
}

p {
	font-size: 5px;
	color: thistle;
	text-align: Center;
	margin:0px;
}

title{
	color:thistle;
	}
